body {
  background-color: #101010;
}

.header {
  width: 100%;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  display: grid;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: : 80px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 20px;
}

.Name{
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 30px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.Menu1{
  grid-column-start: 9;
  grid-column-end: 10;
  font-size: 30px;
}

.Menu2{
  grid-column-start: 10;
  grid-column-end: 11;
  font-size: 30px;
}

.Menu3{
  grid-column-start: 11;
  grid-column-end: 12;
  font-size: 30px;
}

.Name:hover {
  text-decoration: underline;
}


 ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style: outsdie none none;
}

li {
  float: right;
  padding-right: 50px;
  padding-top: 50px;
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  top: 0;
}

.About a {
  background-color:#101010;
  box-shadow: 6px 6px 16px #000000, -6px -6px 16px #393838;
  border-radius: 30px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.Codeart a {
  background-color:#101010;
  box-shadow: 6px 6px 16px #000000, -6px -6px 16px #393838;
  border-radius: 30px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.Work a {
  background-color:#101010;
  box-shadow: 6px 6px 16px #000000, -6px -6px 16px #393838;
  border-radius: 30px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

 li a {
  color: white;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding: 14px 20px;
  text-decoration: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}


li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
